.home-container{
  width: 100%;
  display:grid;
  grid-template-areas:
      "titleImage titleImage titleImage"
      ". welcome ."
      ". learnTitle ."
      "learn learn learn"
      ". purchaseTitle ."
      "purchase purchase purchase"
      "about about about";
  background-color: var(--theme-bg-color);
}

@keyframes fadeIn {
  0% {opacity: 0; }
  100% {opacity: 1;}
}


.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


.main-text {
  font-size: 56px;
  font-weight: 900;
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

.sub-main-text {
  font-size: 30px;
  font-style: italic;
}

.feature {
  grid-area: titleImage;
  position:relative;
  text-align: center;
  color: white;
  text-decoration: solid;
}

.some-text {
  position: absolute;
  top:22%;
  left:50%;
  transform: translate(-50%, -50%);
}

.home-title-image{
    height: auto;
    top: 0;
    bottom: 0;
    width:100%;
}
#home-title-image-large{
    margin: auto;
    width: 95%;
}
#home-title-image-mobile{
    width: 100%;
}


.home-header{
    justify-self: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.home-section-header{
    font-family: var(--theme-font-family);
    font-size: 4em;
    justify-self: center;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

#bojrw { 
  grid-area: learnTitle; 
  background-color:transparent;
  font-weight: 600;
  font-size:40px;
}
#home-learn-container{ grid-area: learn; }

#home-purchase-title{
    grid-area: purchaseTitle;
}
#home-purchase-container{
    grid-area: purchase;
}
#purchase-title{
    grid-area: purchaseTitle;
}

#purchase-info{
    grid-area: info;
    align-self: center;
}

#home-about-container{
  grid-area: about;
  background-color: var(--theme-bg-color);
  justify-self: center;
  align-self: center;   
  display: grid;
  padding-top: 150px;
}


#home-about-us{
    grid-area: aboutMain;
}

#home-schedule{
    grid-area: aboutSchedule;
}

.home-about-container{
    padding: 25px;
}
.home-dialog-form-field{
    margin: 5px !important;
    width: 50%;
}

/* laptop and greater */
@media(min-width: 1024px){
    #home-title-image-mobile{
        display: none
    }
    .home-container{
        grid-template-columns: 10% auto 10%;
    }
    .home-section-header{
        margin-top: 85px;
    }
    .home-header{
        font-size: 3em;
    }
    #home-about-container{
        grid-template-areas: 
        ". aboutMain . aboutSchedule .";
        grid-template-rows: minmax(400px, auto);
        grid-template-columns: 10% 1fr 5% 1fr 10%;
    }
}
/* tablet */
@media(max-width: 1023px) and (min-width: 768px){
    #home-title-image-mobile{
        display: none;
    }
    .home-container{
        grid-template-columns: 0px auto 0px;
    }
    .home-section-header{
        margin-top: 55px;
    }
    .home-header{
        font-size: 3em;
    }
    #home-about-container{
        grid-template-areas: 
        ". aboutMain . aboutSchedule .";
        grid-template-rows: minmax(400px, auto);        
        grid-template-columns: 0px 1fr 20px 1fr 0px
    }
}

/* phone  */
@media(max-width: 767px){
    #home-title-image-large{
        display: none;
    }
    .home-container{
        grid-template-columns: 0px 1fr 0px;
    }
    .home-section-header{
        margin-top: 35px;
        font-size: 3.5em;
    }
    .home-header{
        font-size: 2.5em !important;
    }
    #home-about-container{
        grid-template-areas: 
        "aboutMain"
        "aboutSchedule";
        grid-template-rows: minmax(400px, auto);        
    }
}