.home-container{
    grid-area: body;
    width: 100%;
    display:grid;
    grid-template-areas:
        ". titleImage ."
        "about about about"
        ". videos .";
    background-color: var(--main-bg-color);
}

#home-title-image{
    grid-area: titleImage;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
}
#banner-title{
    grid-area: titleImage;
    justify-self: center;
    align-self:center;
    width: 100%;
    /* background-color: rgba(229, 235, 232, 0.64); */
    height: 20%;
    display: grid;
}

#banner-title-text{
    justify-self: center;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5.5em;
    font-weight: 900;
    color: white;
}
#home-about{
    grid-area: about;
    background-color: var(--theme-two);
    justify-self: center;
    align-self: center;   
    display: grid;
    grid-template-areas: 
        ". aboutMain . aboutSchedule .";
    grid-template-rows: minmax(400px, auto);
    align-items: center;
    /* grid-template-columns: 50% 50%; */
}
#home-about-main{
    grid-area: aboutMain;
}
#home-about-schedule{
    grid-area: aboutSchedule;
}
.home-about-container{
    padding: 25px;

}
.home-about-header{
    justify-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}
.home-about-content{

}

#home-video-container{
    grid-area: videos;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

@media(min-width: 975px){
    .home-container{
        grid-template-columns: 10% auto 10%;
    }
    #home-about{
        grid-template-columns: 10% 1fr 5% 1fr 10%;
    }
}

@media(max-width: 974px){
    .home-container{
        grid-template-columns: 0px auto 0px;
    }
    #home-about{
        grid-template-columns: 0px auto 0px
    }
}

