.home-container{
    grid-area: body;
    width: 100%;
    display:grid;
    grid-template-areas:
        "titleImage titleImage titleImage"
        ". learnTitle ."
        "learn learn learn"
        ". purchaseTitle ."
        "purchase purchase purchase"
        "about about about";
    background-color: var(--theme-bg-color);
}
.home-title-image{
    grid-area: titleImage;
    height: auto;
    top: 0;
    bottom: 0;
}
#home-title-image-large{
    margin: auto;
    width: 95%;
}
#home-title-image-mobile{
    width: 100%;
}


#home-about{
    grid-area: about;
    background-color: var(--theme-bg-color);
    justify-self: center;
    align-self: center;   
    display: grid;
}


.home-header{
    justify-self: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.home-section-header{
    font-family: var(--theme-font-family);
    font-size: 4em;
    justify-self: center;
    text-align: center;
}

#home-learn-title{
    grid-area: learnTitle;
}

#home-learn-container{
    grid-area: learn;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}


#home-purchase-title{
    grid-area: purchaseTitle;
}

#home-purchase-container{
    grid-area: purchase;
    padding: 25px;
    background-color: var(--theme-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

#purchase-title{
    grid-area: purchaseTitle;
}

#purchase-info{
    grid-area: info;
    align-self: center;
}


#home-about-us{
    grid-area: aboutMain;
    justify-self: center;
}

#home-about-schedule{
    grid-area: aboutSchedule;
    justify-self: center;
}

.home-about-container{
    padding: 25px;
}

/* laptop and greater */
@media(min-width: 1024px){
    .home-container{
        grid-template-columns: 10% auto 10%;
    }
    .home-section-header{
        margin-top: 85px;
    }
    #home-about{
        grid-template-areas: 
        ". aboutMain . aboutSchedule .";
        grid-template-rows: minmax(400px, auto);
        grid-template-columns: 10% 1fr 5% 1fr 10%;
    }
    .home-header{
        font-size: 3em;
    }
    #home-purchase-container{
        grid-template-areas: 
        ". . purchaseTitle . ."
        ". glide3 info info .";
        grid-template-columns: 10% 1fr auto 1fr 10%;
    }
    #home-title-image-mobile{
        display: none
    }
}
/* tablet */
@media(max-width: 1023px) and (min-width: 768px){
    .home-container{
        grid-template-columns: 0px auto 0px;
    }
    .home-section-header{
        margin-top: 55px;
    }
    #home-about{
        grid-template-areas: 
        ". aboutMain . aboutSchedule .";
        grid-template-rows: minmax(400px, auto);        
        grid-template-columns: 0px auto 0px
    }
    .home-header{
        font-size: 3em;
    }
    #home-purchase-container{
        grid-template-areas: 
        ". . purchaseTitle . ."
        ". glide3 info info .";
        grid-template-columns: 10% 1fr auto 1fr 10%;
    }
    #home-title-image-mobile{
        display: none;
    }
}

/* phone  */
@media(max-width: 767px){
    .home-container{
        grid-template-columns: 0px 1fr 0px;
    }
    .home-section-header{
        margin-top: 35px;
        font-size: 3.5em;
    }
    #home-about{
        grid-template-areas: 
        "aboutMain"
        "aboutSchedule";
        grid-template-rows: minmax(400px, auto);        
    }
    .home-header{
        font-size: 2.5em !important;
    }
    #home-purchase-container{
        grid-template-areas: 
            " purchaseTitle "
            " info "
            " glide3 ";
        grid-column-gap: 10px;
    }
    #home-title-image-large{
        display: none;
    }
}