.navbar-container{
    grid-area: navbar;
    position:fixed;
    top: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg-color);
    height: 80px;
    z-index: 999;
}

#nav-logo{
    grid-area: logo;
    width: 75px;
    height: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
#nav-title{
    grid-area: brand;
    width: auto;
    height: 100%;
    margin: 0px 25px;
    display: flex;
    align-self: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;
    color: var(--logo-text-color);
    font-weight: 900;
}
#nav-link-container{
    grid-area: links;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--logo-text-color);
}
.nav-link{
    font-size: 22px;
    text-decoration: none;
    color: var(--logo-text-color);
}
.nav-link-active{
    font-weight: 800;
}
/* laptop and greater */
@media(min-width: 1024px){
    .navbar-container{
        grid-template-areas:
        ". logo brand . links .";
        grid-template-columns: 10% 125px auto 1fr 3fr 10%;
    }
    .nav-link{
        margin: 15px;
        min-width: 100px;
    }
    #nav-logo{
        margin-left: 25px;
        margin-right: 25px;
    }
}
/* tablet */
@media(max-width: 1023px) and (min-width: 768px){
    .navbar-container{
        grid-template-areas:
        ". logo brand . links .";
        grid-template-columns: 10px 100px auto 1fr 3fr 10px;
    }
    .nav-link{
        margin: 15px 5px;
        min-width: 100px;
    }
    #nav-logo{
        margin-left: 25px;
        margin-right: 25px;
    }
}
/* phone  */
@media(max-width: 767px){
    .navbar-container{
        grid-template-areas:
        "logo . links";
        grid-template-columns: 100px 10px 1fr
    }
    .nav-link{
        margin: 15px 5px;
        min-width: 75px;
    }
    #nav-title{
        display: none;
    }
    #nav-logo{
        margin-left: px;
    }
}