@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  display: grid;
  grid-template-areas:
    "navbar"
    "body"
    "footer";
  grid-template-rows: 80px auto auto;
  margin: 0px;
}
:root{
  --logo-text-color:#6B79B8;
  --nav-bg-color: #EFF1F1;
  --main-bg-color: #21232B;
  --video-bg-color: #EFF1F1;
  
  --theme-font-family: 'Roboto', sans-serif;
  --theme-one: #F1FFE7;
  --theme-two: #C2E7DA;
  --theme-three: #1A1B41 ;
  --theme-four: #6290C3;
  --theme-five: #BAFF29;  
  --theme-font: "Roboto", "Helvetica", "Arial", sans-serif;
  --theme-bg-color: white;
}