.App {
  display: grid;
  grid-template-areas:
    "navbar"
    "body"
    "footer";
  /* grid-template-columns: 130px 1fr 100px; */
  grid-template-rows: 80px auto 100px;
  margin: 0px;
}
:root{
  --logo-text-color:#4F5FA5;
  --nav-bg-color: #EFF1F1;
  --main-bg-color: #21232B;
  --video-bg-color: #EFF1F1;
  
  --video-font-family: 'Merriweather Sans', sans-serif;
  --theme-one: #F1FFE7;
  --theme-two: #C2E7DA;
  --theme-three: #1A1B41 ;
  --theme-four: #6290C3;
  --theme-five: #BAFF29  
}