
#home-footer{
    grid-area: footer;
    /* background-color: var(--nav-bg-color); */
    background-color: var(--theme-two);
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-areas:
    ". links .";
    grid-template-columns: 1fr 3fr 1fr;
}
#home-footer-links{
    grid-area: links;
    align-self: center;
    justify-self: center;
}

.footer-link{
    text-decoration: none;
    /* color: var(--logo-text-color); */
    color: rgba(0, 0, 0, 0.54);

}