#home-footer{
  grid-area: footer;
  background-color: var(--nav-bg-color);
  /* background-color: var(--theme-one); */
  width: 100%;
  display: grid;
  grid-template-areas:
    "links"
    "copyright";
  height: 60px;
}
#footer-links{
  grid-area: links;
  display:flex;
  justify-content: center;  
  align-items: center;
  color:black;
}
#footer-copyright{
  grid-area: copyright;
  background-color: black;
  color:white;
  display:flex;
  flex-direction: row-reverse;
  padding-right: 20px;
}

.footer-link{
  text-decoration: none;
  /* color: var(--logo-text-color); */
  color: rgba(0, 0, 0, 0.54);
  padding:10px;
  display:flex;
  align-items: center;
}
