
#home-footer{
    grid-area: footer;
    /* background-color: var(--nav-bg-color); */
    background-color: var(--theme-one);
    width: 100%;
    display: grid;
}
#footer-links{
    grid-area: links;
    align-self: center;
    justify-self: center;
}
#footer-copyright{
    grid-area: copyright;
    align-self: center;
    justify-self: center;
}

.footer-link{
    text-decoration: none;
    /* color: var(--logo-text-color); */
    color: rgba(0, 0, 0, 0.54);

}
/* laptop and greater */
@media(min-width: 1024px){
    #home-footer{
        grid-template-areas:
        ". links ."
        ". copyright .";
        grid-template-columns: 1fr 3fr 1fr;
        height: 60px;
    }
}
/* tablet */
@media(max-width: 1023px) and (min-width: 768px){
    #home-footer{
        grid-template-areas:
        ". links ."
        ". copyright .";
        grid-template-columns: 1fr 3fr 1fr;
        height: 60px;
    }
}

/* phone  */
@media(max-width: 767px){
    #home-footer{
        grid-template-areas:
        ". links ."
        ". copyright .";
        height: 60px;
    }
}